extends ../application.pug

block content
  .col-md-4.float-xs-right
      h3 About this blog
      ul.nav.nav-tabs.nav-stacked
        li
          a(href='#') Contact us
        li
          a(href='#') More info
        li
          a(href='#') Another Link

        p Taxidermy williamsburg butcher, slow-carb mustache literally mumblecore affogato gentrify PBR&B cold-pressed. Hammock coloring book put a bird on it roof party. Godard fap aesthetic selvage, vinyl fixie pug YOLO try-hard poke lomo iceland. Blue bottle lyft distillery, craft beer man bun brooklyn salvia. Ennui tote bag bespoke post-ironic, normcore tattooed glossier church-key pitchfork PBRB iceland lyft.

  .container.col-md-8
    h1 All posts from this blog
    hr
    each post in posts
      .card.card-block
        .col-xs-12.col-md-8
          img(src=post.imageURL alt=post.title + " Cover Image" class="img-fluid")
        .col-md-8
          a(href="/posts/" + post.id)
            h2= post.title
          h5= post.author
          p= post.description
          .row
