extends ../application.pug

block content
  .container
    .card.card-block
      .row
        .col-md-4.hidden-md-down
          img(src=post.imageURL alt=post.title + " Cover Image" class="img-fluid")
        .col-xs-12.col-md-8
          h2= post.title
          h5= post.author
          p= post.description
          .row
